* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.output {
  border: 1px solid #000;
  width: 600px;
  height: 700px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  word-wrap: wrap;
  border-radius: 20px;
}

.img-container {
  width: 300px;
  height: 300px;
  position: relative;
}

.img-container img {
  position: absolute;
  width: 100%;
  right: 30;
  left: -20;
  top: 0;
}

.like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.2em;
}

.like i {
  cursor: pointer;
  color: #b3efb2;
}

.title {
  font-weight: 700;
}

.submit {
  padding: 10px;
  background-color: #ad5389;
  color: #fff;
  border-radius: 10px;
  outline: 0;
}

.submit:active {
  transform: scale(0.9);
}

.change {
  transform: scale(2.5);
  border-radius: 50%;
  background-color: red;
}
