* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.output {
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 550px;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
  word-wrap: wrap;
}

.img-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.img-card {
  width: 100%;
  justify-content: center; 
  align-items: center;  
  margin-left: 9em;

}

.like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.2em;
}

.like i {
  cursor: pointer;
  color: #b3efb2;
}

.title {
  font-weight: 700;
}

.submit {
  padding: 10px;
  background-color: #ad5389;
  color: #fff;
  border-radius: 10px;
  outline: 0;
}

.submit:active {
  transform: scale(0.9);
}

.change {
  transform: scale(2.5);
  border-radius: 50%;
  background-color: red;
}
